@import "mixins";

body {
	font-family: 'Venus Rising', 'Arial';
	font-size: 16px;
	color: #353535;
	margin: 0;
	line-height: 1.2;
	background-color: black;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Aldrich', 'Arial';
	margin: 0 0 1em 0;

	&:first-child {
		margin: 0 0 1em 0;
	}
}

p {
	font-family: 'Share Tech Mono','Arial';
	margin: 0 0 1em 0;
}