@import "mixins";

blockquote {
	font-style: italic;
	background-color: #f9f9f9;
	border-left: 4px solid #f4f4f4;
	padding: 1em;
	margin: 0 0 1em 0;
	@include border-box;

	p {
		font-family: 'Iceberg';
		line-height: 20px;
	}

	p:last-child {
		margin: 0;
	}

	strong {
		text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
		font-size: 1.2em;
	}
}

@media (min-width: $large) {
	blockquote {
		position: absolute;
		width: 20em;
		right: 1em;
	}
}

/*
font-family: 'Michroma', sans-serif;
font-family: 'Armata', sans-serif;
font-family: 'Nova Flat', cursive;
font-family: 'Oxygen Mono', sans-serif;
font-family: 'Nova Mono', cursive;
font-family: 'Exo', sans-serif;
font-family: 'Iceberg', cursive;
font-family: 'Geo', sans-serif;
font-family: 'Aldrich', sans-serif;
font-family: 'VT323', cursive;
font-family: 'Quantico', sans-serif;
font-family: 'Share Tech Mono', sans-serif;
font-family: 'Inconsolata', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Iceland', cursive;
*/